<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Evento</title>
    <style>
      @font-face {
        font-family: 'source_sans';
        src: url({#asset /subastARTE/reportes/source_sans.woff2 @encoding=dataURI});
        format('woff2');
      }
      html {
        font-size: 11px;
        font-family: 'source_sans';
        margin: 2cm 1cm;
      }
      #info_evento {
        margin-top: 2cm;
        width: 100%;
      }
      #info_evento th, #evento td {
        padding: 2mm;
      }
      #evento, #estadisticas {
        border: 0.1mm #DEE2E6 solid;
        width: 100%;
        margin-top: 2cm;
      }
      #evento thead, #estadisticas thead {
        text-align: left;
      }
      #evento th, #evento td, #estadisticas th, #estadisticas td {
        padding: 2mm;
      }
      h1{
        text-align: center;
      }
      #evento tr:nth-child(odd) {
				background-color: #F2F2F2;
			}
    </style>
  </head>
  <body>
    <h1>Informe de resultados de Evento</h1>
    <table id="info_evento">
      <tr>
        <td style="width:4cm"><strong>Nombre</strong></td>
        <td>{{evento.nombre}}</td>
      </tr>
      <tr>
        <td><strong>Fecha</strong></td>
        <td>{{evento.fecha_evento}}</td>
      </tr>
      <tr>
        <td><strong>Duración</strong></td>
        <td>{{evento.horas}} horas</td>
      </tr>
      <tr>
        <td><strong>Tipo</strong></td>
        <td>{{evento.tipo}}</td>
      </tr>
      <tr>
        <td><strong>Costo general</strong></td>
        <td>${{evento.costo_ins_general}}</td>
      </tr>
      <tr>
        <td><strong>Costo cliente</strong></td>
        <td>${{evento.costo_ins_client}}</td>
      </tr>
      <tr>
        <td><strong>Lugar</strong></td>
        <td>{{evento.lugar_subasta}}</td>
      </tr>
      <tr>
        <td><strong>Participantes inscritos</strong></td>
        <td>{{evento.total_participantes}}</td>
      </tr>
    </table>
    <table id="estadisticas">
      <thead>
        <th>Art. vendidos</th>
        <th>Valor art. vendidos</th>
        <th>Total ganancia mínima</th>
        <th>Total ASK</th>
        <th>Total BID</th>
        <th>Total ganancia</th>
        <th>% total ganancia</th>
      </thead>
      <tbody>
        <tr>
          <td>{{estadisticas.total_vendidos}}</td>
          <td>${{estadisticas.total_precio_articulo}}</td>
          <td>${{estadisticas.total_ganancia_minima}}</td>
          <td>${{estadisticas.total_precio_salida}}</td>
          <td>${{estadisticas.total_ventas}}</td>
          <td>${{estadisticas.total_ganancia}}</td>
          <td>{{estadisticas.total_ganancia_perc}}%</td>
        </tr>
      </tbody>
    </table>
    <table id="evento">
      <thead>
        <th>NUR</th>
        <th>Tipo</th>
        <th>Descripción</th>
        <th>ASK</th>
        <th>BID</th>
        <th>Estado</th>
        <th>Observaciones</th>
      </thead>
      <tbody>
        {{#each objeto_subasta_evento }}
        <tr>
          <td>
            {{#if this.moneda_id}}
                {{this.moneda_id}}
            {{else}}
                {{this.pintura_id}}
            {{/if}}
          </td>
          <td>
            {{#if this.moneda_id }}
                MONEDA
            {{else}}
                PINTURA
            {{/if}}
          </td>
          <td>
            {{#if this.moneda_id}}
                {{this.nombre_moneda}}.
            {{else}}
                {{this.titulo}}.
                {{this.dimensiones}}.
            {{/if}}
          </td>
          <td>
            ${{this.ask}}
          </td>
          <td>
            ${{this.bid}}
          </td>
          <td>
            {{#if this.ganador_id}}
              VENDIDO
            {{else}}
              NO VENDIDO
            {{/if}}
          </td>
          <td>
            {{#if this.ganador_id}}
              Cliente: (#{{this.num_exp_unico}}) {{this.nombre_coleccionista}}
            {{else}}
              {{#if this.bid}}
                No alcanzó precio de salida (${{this.ask}})
              {{else}}
                No recibió ofertas.
              {{/if}}
            {{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</body>
</html>