<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<style>
	@charset "UTF-8";
    @font-face {
        font-family: 'pynions';
        src: url({#asset /subastARTE/reportes/pynions.woff2 @encoding=dataURI});
        format('woff2');
    }
    @font-face {
    font-family: 'source_sans';
    src: url({#asset /subastARTE/reportes/source_sans.woff2 @encoding=dataURI});
    format('woff2');
    }
	html {
		color: #14213d;
		font-family: 'source_sans';
		font-size: 11pt;
		line-height: 1.6;
	}
	html body {
		margin: 0;
	}
	html h1 {
		font-family: 'pynions' ;
		font-size: 40pt;
		margin: 0;
	}
	html h1, html h2, html p {
		text-align: center;
	}
	.table {
		margin-left: auto;
		margin-right: auto;
		border-collapse: collapse;
		width: 75%;
		margin-top: 1.5cm;
		margin-bottom: 1.5cm;
	}
	.table th {
		border-bottom: 0.2mm solid #a9a;
		color: #a9a;
		font-size: 9pt;
		font-weight: 400;
		padding-bottom: 0;
		text-transform: uppercase;
        text-align:left;
        margin-bottom: 2mm;
	}
	.table td {
		padding-top: 0;
	}
	.table td:last-of-type {
		text-align: right;
	}
	.table th,
	.table td {
		text-align: center;
	}
	.table th:first-of-type,
	.table td:first-of-type {
		text-align: left;
	}

	</style>
	<title>Certificado</title>
</head>

<body>
	<p>
		La organización <i>{{data.nombre_tienda}}</i>, emite el siguiente
	</p>
	<h1>Certificado de Compra</h1>
	<p>a nombre de</p>
	<h2><i>{{data.nombre_coleccionista}}</i></h2>
	<p>
		por el cual hace constar que es el genuino poseedor de la siguiente
		pieza de colección.
	</p>
	{{#if data.moneda_id}}
        <table class="table">
            <tbody>
            <tr>
                <td colspan="2" style="text-align: center; padding-bottom: 1.5cm;">
                    <img src="http://localhost:8000/mediafiles/{{data.moneda_thumb}}" style="max-height:4cm" />
                </td>
            </tr>
            <tr>
                <td><strong>NUR</strong></td>
                <td>{{data.nur_moneda}}</td>
            </tr>
            <tr>
                <td><strong>Nombre</strong></td>
                <td>{{data.nombre}}</td>
            </tr>
            <tr>
                <td><strong>Divisa</strong></td>
                <td>{{data.pais_divisa}}</td>
            </tr>
            <tr>
                <td><strong>Denominación</strong></td>
                <td>{{data.denominacion}}</td>
            </tr>
            <tr>
                <td><strong>Forma</strong></td>
                <td>{{data.forma}}</td>
            </tr>
            <tr>
                <td><strong>Metal</strong></td>
                <td>{{data.metal}}</td>
            </tr>
            <tr>
                <td><strong>Canto</strong></td>
                <td>{{data.canto}}</td>
            </tr>
            <tr>
                <td><strong>Diámetro</strong></td>
                <td>{{data.diametro}}</td>
            </tr>
            <tr>
                <td><strong>Peso</strong></td>
                <td>{{data.peso}}</td>
            </tr>
            <tr>
                <td><strong>Año de emisión</strong></td>
                <td>{{data.anyo_emision}}</td>
            </tr>
            <tr>
                <td><strong>Acuñación</strong></td>
                <td>{{data.org_acunyacion}}</td>
            </tr>
            <tr>
                <td><strong>País de acuñación</strong></td>
                <td>{{data.pais_acunyacion}}</td>
            </tr>
            <tr>
                <td><strong>Motivo</strong></td>
                <td>{{data.motivo}}</td>
            </tr>
            <tr>
                <td><strong>Anverso</strong></td>
                <td>{{data.anverso}}</td>
            </tr>
            <tr>
                <td><strong>Reverso</strong></td>
                <td>{{data.reverso}}</td>
            </tr>
            <tr>
                <td><strong>Mintage</strong></td>
                <td>{{data.total_mintage}}</td>
            </tr>
            </tbody>
        </table>
	{{else}}
        <table class="table">
            <tbody>
                <tr>
                    <td colspan="2" style="text-align: center; padding-bottom: 1.5cm;">
                        <img src="http://localhost:8000/mediafiles/{{data.pintura_thumb}}" style="max-height:5cm" />
                    </td>
                </tr>
                <tr>
                    <td><strong>NUR</strong></td>
                    <td>{{data.nur_pintura}}</td>
                </tr>
                <tr>
                    <td><strong>Título</strong></td>
                    <td>{{data.titulo}}</td>
                </tr>
                {{#if data.titulo_original}}
                    <tr>
                        <td><strong>Título original</strong></td>
                        <td>{{data.titulo_original}}</td>
                    </tr>
                {{/if}}
                <tr>
                    <td><strong>Estilo</strong></td>
                    <td>{{data.estilo}}</td>
                </tr>
                <tr>
                    <td><strong>Año</strong></td>
                    <td>{{data.anyo}}</td>
                </tr>
                <tr>
                    <td><strong>Dimensiones</strong></td>
                    <td>{{data.dimensiones}}</td>
                </tr>
            </tbody>
        </table>

        {{#if artistas}}
            <table class="table">
                <thead>
                    <th>
                        Artista
                    </th>
                </thead>
                 <tbody>
                    {{#each artistas}}
                        <tr>
                            <td>
                                {{this.nombre_artista}} 
                                {{#if this.nombre_artistico}}
                                    &ldquo;{{this.nombre_artistico}}&rdquo;
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                 </tbody>
            </table>
        {{/if}}
	{{/if}}
	<p>En {{data.pais_tienda}}, {{data.fecha_evento}}</p>
</body>
</html>
