<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
@font-face {
  font-family: 'pacifico';
  src: url({#asset /subastARTE/reportes/pacifico.woff2 @encoding=dataURI});
  format('woff2');
}
@font-face {
  font-family: 'source_sans';
  src: url({#asset /subastARTE/reportes/source_sans.woff2 @encoding=dataURI});
  format('woff2');
}
@page {
  margin: 2cm;
  @bottom-left {
    color: #1ee494;
    font-family: 'pacifico';
    content: 'I ♥ art and numismatics'; }
  @bottom-right {
    color: #a9a;
    content: 'Subastas y Obras de Arte';
    font-family: 'pacifico';
    font-size: 9pt; } }

html {
  color: #14213d;
  font-family: 'source_sans';
  font-size: 10pt;
  line-height: 1.6; }
  html body {
    margin: 0; }
  html h1 {
    color: #1ee494;
    font-family: 'pacifico';
    font-size: 40pt;
    margin: 0; }
  html aside {
    display: flex;
    margin: 2em 0 4em; }
    html aside address {
      font-style: normal;
      white-space: pre-line; }
      html aside address#from {
        color: #a9a;
        flex: 1; }
      html aside address#to {
        text-align: right; }
  html dl {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0; }
    html dl dt, html dl dd {
      display: inline;
      margin: 0; }
    html dl dt {
      color: #a9a; }
      html dl dt::before {
        content: '';
        display: block; }
      html dl dt::after {
        content: ':'; }
  html table {
    border-collapse: collapse;
    width: 100%; }
    html table th {
      border-bottom: .2mm solid #a9a;
      color: #a9a;
      font-size: 10pt;
      font-weight: 400;
      padding-bottom: .25cm;
      text-transform: uppercase; }
    html table td {
      padding-top: 7mm; }
      html table td:last-of-type {
        color: #1ee494;
        font-weight: bold;
        text-align: right; }
    html table th, html table td {
      text-align: center; }
      html table th:first-of-type, html table td:first-of-type {
        text-align: left; }
      html table th:last-of-type, html table td:last-of-type {
        text-align: right; }
    html table#total {
      background: #f6f6f6;
      border-color: #f6f6f6;
      border-style: solid;
      border-width: 1cm 0.5cm;
      bottom: 0;
      font-size: 20pt;
      margin: 0;
      position: absolute;
      width: 100%; }

    html table#envio td {
      padding-top: 2mm; 
    }

    html table#envio {
      margin-top:1cm;
      margin-bottom: 1cm;
      background: #f6f6f6;
      border-color: #f6f6f6;
      border-style: solid;
      width: 100%; }
    </style>
    <title>Factura</title>
  </head>

  <body>
    <h1>Factura</h1>

    <aside>
      <address id="from">
        {{data.nombre_tienda}}
        {{data.telefono_tienda}}
        {{data.email_tienda}}
        {{data.pais_tienda}}
      </address>

      <address id="to">
        {{data.nombre_coleccionista}}
        {{data.telefono_coleccionista}}
        {{data.pais_coleccionista}}
      </address>
    </aside>

    <dl id="informations">
      <dt>Factura</dt>
      <dd>#{{data.numero}}</dd>
      <dt>Fecha</dt>
      <dd>{{data.fecha_factura}}</dd>
    </dl>

    <table>
      <thead>
        <th style="width:1.5cm">NUR</th>
        <th style="width:2.5cm; text-align: left;">Tipo</th>
        <th style="text-align: left;">Descripción</th>
        <th>Subtotal</th>
      </thead>
      <tbody>
        {{#each items }}
        <tr>
          <td style="text-align: left;">
            {{#if this.moneda_id}}
                {{this.moneda_id}}
            {{else}}
                {{this.pintura_id}}
            {{/if}}
          </td>
          <td style="text-align: left;">
            {{#if this.moneda_id }}
                MONEDA
            {{else}}
                PINTURA
            {{/if}}
          </td>
          <td style="text-align: left;">
            {{#if this.moneda_id}}
                {{this.nombre_moneda}}.
                {{this.forma}}.
                {{this.metal}}.
                {{this.canto}}.
            {{else}}
                {{this.titulo}}.
                {{this.dimensiones}}.
            {{/if}}
          </td>
          <td>${{this.bid}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    {{#if manejo_envio}}
      <table id="envio">
        {{#if manejo_envio.costo_extra}}
          <tr>
            <td style="text-align: left;">
              Extra ({{manejo_envio.costo_extra}}%)
            </td>
            <td>${{manejo_envio.rec_extra}}</td>
          </tr>
        {{/if}}
        {{#if manejo_envio.recargo_envio}}
          <tr>
            <td style="text-align: left;">
              Envío ({{manejo_envio.recargo_envio}}%)
            </td>
            <td>${{manejo_envio.rec_envio}}</td>
          </tr>
        {{/if}}
        {{#if manejo_envio.embalaje}}
          <tr>
            <td style="text-align: left;">
              Embalaje ({{manejo_envio.embalaje}}%)
            </td>
            <td>${{manejo_envio.rec_embalaje}}</td>
          </tr>
        {{/if}}
        {{#if manejo_envio.seguro}}
          <tr>
            <td style="text-align: left;">
              Seguro ({{manejo_envio.seguro}}%)
            </td>
            <td>${{manejo_envio.rec_seguro}}</td>
          </tr>
        {{/if}}
      </table>
    {{/if}}

    <table id="total">
      <thead>
        <th>Total</th>
      </thead>
      <tbody>
        <tr>
          <td>${{total_factura}}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>